body{
    background-color: black;
}

.container{
    margin: 0;

    display: flex;
    align-items: baseline;
    justify-content: baseline;
}

.container > div {
    color: #ffbf00;
    border-radius: 5px;
    border: 2px teal solid;
    padding: 10px;
}