body{
    background-color: black;
    margin: 0;
}

.container{
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-grow: 1;
    flex-shrink: 1;
}

.container > div {
    color: #ffbf00;
    border-radius: 5px;
    border: 2px teal solid;
    padding: 10px;
}

.navbar{
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-around;
}